.header {
  height: 729px;
  width: 100vw;
  padding: 30px 10%;
  background-color: #191919;
  position: relative;
  margin-bottom: 150px;
}

.header * {
  position: relative;
  z-index: 2;
}

.header .background {
  position: absolute;
  z-index: 1;
  top: 0;
}

.header header{
  position: relative;
  z-index: 101;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 101;
}

header::before {
  content: "";
  background-color: white;
  height: 1px;
  width: 100%;
  opacity: 20%;
  position: absolute;
  left: 0;
  bottom: -150%;
}

header img {
  cursor: pointer;
}

header .middle {
  display: flex;
  gap: 30px;
}

header .middle a {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

header .middle a:hover{
  color: #D87D4A;
}

.header .new-product {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 20px;
}

.header .new-product span {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  opacity: 50%;
}

.header .new-product h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  width: 396px;
}

.header .new-product p {
  width: 349px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 75%;
}

.header .new-product button {
  height: 48px;
  width: 160px;
  background-color: #d87d4a;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;
}

.header .new-product button:hover{
  background-color: #FBAF85;
}

.center {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.other-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.other-pages .other {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 204px;
  width: 350px;
  justify-content: end;
  align-items: center;
  padding: 40px 0;
  gap: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.other-pages .other:hover .shop p{
  color: #D87D4A;
  opacity: 1;
}

.other-pages .other .picture1 {
  position: absolute;
  top: -37%;
  height: 180px;
  width: 180px;
}

.other-pages .other .picture2 {
  position: absolute;
  top: -30%;
  height: 166px;
  width: 150px;
}

.other-pages .other .picture3 {
  position: absolute;
  top: -30%;
  height: 166px;
  width: 190px;
}

.other-pages .other .shop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.other-pages .other h3 {
  font-size: 18px;
  letter-spacing: 1.29px;
}

.other-pages .other p {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 50%;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.information .zx9 {
  height: 560px;
  width: 100%;
  border-radius: 8px;
  background-color: #d87d4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.information .zx9 .left {
  position: relative;
  background-color: red;
}

.information .zx9 .left img {
  position: absolute;
  bottom: -38.5vh;
}

.information .zx9 .left .speaker {
  height: 493px;
  width: 410px;
  z-index: 2;
}

.information .zx9 .left .pattern {
  bottom: -88vh;
  left: -35.5vh;
  z-index: 1;
}

.information .zx9 .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.information .zx9 .right h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: white;
}

.information .zx9 .right p {
  width: 349px;
  font-weight: 400;
  font-size: 15px;
  opacity: 75%;
  line-height: 25px;
  color: white;
}

.information .zx9 .right button {
  height: 48px;
  width: 160px;
  background-color: black;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;
}

.information .zx9 .right button:hover{
  background-color: #4C4C4C;
}

.information .zx7 {
  height: 350px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.information .zx7 .background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.information .zx7 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 118px;
}

.information .zx7 div h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.information .zx7 div button {
  height: 48px;
  width: 160px;
  border: solid 1px black;
  background-color: transparent;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.information .zx7 div button:hover{
  background-color: black;
  color: white;
}

.information .yx1 {
  display: flex;
  justify-content: space-between;
}

.information .yx1 img {
  border-radius: 8px;
}

.information .yx1 div {
  height: 320px;
  width: 540px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 10%;
  border-radius: 8px;
}

.information .yx1 div h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.information .yx1 div button {
  height: 48px;
  width: 160px;
  border: solid 1px black;
  background-color: transparent;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.information .yx1 div button:hover{
  background-color: black;
  color: white;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description .left h1 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
}

.description .left span {
  color: #d87d4a;
}

.description .left p {
  width: 445px;
  font-weight: 400;
  font-size: 15px;
  opacity: 50%;
}

.description img {
  border-radius: 8px;
}

footer{
    height: 365px;
    width: 100%;
    background-color: #101010;
    margin-top: 150px;
    padding: 0 10%;
    padding-top: 5%;
    color: white;
    position: relative;
}

footer .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

footer::before{
    content: "";
    height: 4px;
    width: 101px;
    background-color: #D87D4A;
    position: absolute;
    left: 10%;
    top: 0;
}

footer .top .other-pages-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .top .other-pages-footer a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
}

footer .top .other-pages-footer a:hover{
  color: #D87D4A;
}

footer .bottom{
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom .left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .bottom .left p{
    width: 540px;
    font-weight: 400;
    opacity: 50%;
    line-height: 25px;
    font-size: 15px;
}

footer .bottom .left span{
    width: 540px;
    font-weight: 700;
    opacity: 50%;
    line-height: 25px;
    font-size: 15px;
}

footer .bottom .right{
    display: flex;
    gap: 20px;
}

footer .bottom .right *{
    cursor: pointer;
}

.header-headphones{
  height: 336px;
  width: 100%;
  padding: 20px 10%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.header-headphones h1{
  margin: 0 auto;
  color: white;
  font-size: 40px;
  letter-spacing: 1.43px;
  font-weight: 600;
}

.information-headphones{
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 10% 10%;
}

.information-headphones .headphone{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information-headphones .headphone.reverse{
  flex-direction: row-reverse;
}

.information-headphones .headphone img{
  height: 560px;
  width: 540px;
  border-radius: 8px;
}

.information-headphones .headphone .right{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information-headphones .headphone .right span{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  color: #D87D4A;
}

.information-headphones .headphone .right h1{
  font-size: 40px;
  letter-spacing: 1.43px;
  font-weight: 600;
}

.information-headphones .headphone .right p{
  width: 445px;
  font-size: 15px;
  opacity: 50%;
  line-height: 25px;
}

.information-headphones .headphone .right button{
  height: 48px;
  width: 160px;
  background-color: #D87D4A;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.information-headphones .headphone .right button:hover{
  background-color: #FBAF85;
}

.headphones-page .other-pages{
  margin-bottom: 100px;
}

.headphones-page .description, .headphones-page .other-pages{
  padding: 0 10%;
}

.mark2 .header{
  height: 97px;
  margin-bottom: 70px;
}

.mark2 h4{
  padding: 0 10%;
  opacity: 50%;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 70px;
}

.mark2 .product{
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.mark2 .product img{
  height: 560px;
  width: 540px;
  border-radius: 8px;
}

.mark2 .product .info-product{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mark2 .product .info-product span{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  color: #D87D4A;
}

.mark2 .product .info-product h1{
  width: 445px;
  font-size: 40px;
  letter-spacing: 1.43px;
  line-height: 44px;
}

.mark2 .product .info-product p{
  width: 445px;
  opacity: 50%;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.mark2 .product .info-product h3{
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.29px;
}

.mark2 .product .info-product .buttons{
  display: flex;
  gap: 20px;
  align-items: center;
}

.mark2 .product .info-product .buttons .amount{
  height: 48px;
  width: 120px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  text-align: center;
}

.mark2 .product .info-product .buttons .amount button{
  border: none;
  font-weight: 700;
  opacity: 25%;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.mark2 .product .info-product .buttons .amount p{
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 100%;
}

.mark2 .product .info-product .buttons .add{
  height: 48px;
  width: 160px;
  background-color: #D87D4A;
  font-weight: 700;
  font-size: 13px;
  border: none;
  color: white;
  cursor: pointer;
}

.mark2 .product .info-product .buttons .add:hover{
  background-color: #FBAF85;
}

.mark2 .info{
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.mark2 .info .left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mark2 .info .left h1{
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14px;
}

.mark2 .info .left p{
  width: 635px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 50%;
}

.mark2 .info .right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mark2 .info .right h1{
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14px;
}

.mark2 .info .right div{
  display: flex;
  gap: 20px;
}

.mark2 .info .right div span{
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #D87D4A;
}

.mark2 .info .right div p{
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 50%;
}

.mark2 .images{
  padding: 0 10%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.mark2 .images img{
  border-radius: 9px;
}

.mark2 .images .left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mark2 .recommended{
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-bottom: 200px;
}

.mark2 .recommended .other-products{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mark2 .recommended .other-products .other-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mark2 .recommended .other-products .other-product img{
  width: 350px;
  height: 318px;
  border-radius: 8px;
}

.mark2 .recommended .other-products .other-product h1{
  font-size: 24px;
  letter-spacing: 1.71px;
}

.mark2 .recommended .other-products .other-product button{
  height: 48px;
  width: 160px;
  border: none;
  background-color: #D87D4A;
  color: white;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.mark2 .recommended .other-products .other-product button:hover{
  background-color: #FBAF85;
}

.mark2 .other-pages{
  padding: 0 10%;
  margin-bottom: 150px;
}

.mark2 .description{
  padding: 0 10%;
}

.cart{
  transform: translateY(0);
  height: auto;
  width: 377px;
  background-color: white;
  position: absolute;
  top: 10vh;
  right: 8%;
  z-index: 101;
  padding: 30px;
  border-radius: 8px;
}

.hidden{
  position: absolute;
  transform: translateY(-15%);
  z-index: -10;
  opacity: 0;
}

.black{
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 25%;
  z-index: 100;
}

.hidden-black{
  opacity: 0;
  z-index: -10;
}

.cart .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.cart .top h2{
  font-size: 18px;
  letter-spacing: 1.29px;
}

.cart .top button{
  border: none;
  background-color: transparent;
  font-size: 15px;
  opacity: 50%;
  cursor: pointer;
}

.cart .amount{
  height: 32px;
  width: 96px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
}

.cart .amount button{
  border: none;
  font-weight: 700;
  opacity: 25%;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.cart .amount p{
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
}

.cart .items{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart .item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart .item .left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart .item .left img{
  height: 64px;
  width: 64px;
  border-radius: 8px;
}

.cart .item .left .info{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cart .item .left .info h2{
  font-size: 15px;
  line-height: 25px;
}

.cart .item .left .info p{
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  opacity: 50%;
}

.cart .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cart .bottom .total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart .bottom .total p{
  font-size: 15px;
  opacity: 50%;
}

.cart .bottom .total span{
  font-size: 18px;
  font-weight: 700;
}

.cart .bottom button{
  height: 48px;
  width: 100%;
  background-color: #D87D4A;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}